     
    <section>
       <div class="contributer-menu">
                    <div class="container">
                        
                            <nav>
                                <ul class="light">
								    <li><a href="<?php echo base_url().index_page(); ?>/customer/home/dashboard">Dashboard</a></li>
									<li><a href="<?php echo base_url().index_page(); ?>/customer/home/my_profile">Profile</a></li>
									<li><a href="<?php echo base_url().index_page(); ?>/customer/home">Downloads</a></li>
                                    <li><a href="<?php echo base_url().index_page(); ?>/customer/home">My Plan</a></li>
                                    <li><a href="<?php echo base_url().index_page(); ?>/customer/home">Statement</a></li> 
									<li><a href="#" title="">Settings</a></li> 
                                </ul>
                            </nav>

                    </div>
       </div>
    </section>
             	