<!DOCTYPE html>
<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellspacing="0" cellpadding="0" 
style="width: 650px; border: 1px solid #CCC; margin-top: 20px;">
  <tbody style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
	<tr>
	  <td bgcolor="#3dbd8c" style="color:#fff; font-size:17px; font-weight:600; padding:8px;">AD DETAILS</td>
	  <td bgcolor="#3dbd8c" style="color:#fff; font-size:13px; text-align:right; padding:8px;">2016-07-08</td>
	</tr>
	<tr>
	  <td style="width: 150px; color:#000; font-size:14px; font-weight:600; padding:10px 8px; border-bottom: 1px solid #CCC;">Job Name:</td>
	  <td style="width: 500px; color:#333; font-size:14px; text-align:right; padding:10px 8px; border-bottom: 1px solid #CCC;">demo12</td>
	</tr>
	<tr>
	  <td style="width: 150px; color:#000; font-size:14px; font-weight:600; padding:10px 8px; border-bottom: 1px solid #CCC;">Date Needed:</td>
	  <td style="width: 500px; color:#333; font-size:14px; text-align:right; padding:10px 8px; border-bottom: 1px solid #CCC;">2016-07-08</td>
	</tr>
	<tr>
	  <td style="width: 150px; color:#000; font-size:14px; font-weight:600; padding:10px 8px; border-bottom: 1px solid #CCC;">Width & Height:</td>
	  <td style="width: 500px; color:#333; font-size:14px; text-align:right; padding:10px 8px; border-bottom: 1px solid #CCC;">1.2 x 2.2</td>
	</tr>
	<tr>
	  <td style="width: 150px; color:#000; font-size:14px; font-weight:600; padding:10px 8px; border-bottom: 1px solid #CCC;">Color:</td>
	  <td style="width: 500px; color:#333; font-size:14px; text-align:right; padding:10px 8px; border-bottom: 1px solid #CCC;">Spot</td>
	</tr>
	<tr>
	  <td style="width: 150px; color:#000; font-size:14px; font-weight:600; padding:10px 8px; border-bottom: 1px solid #CCC;">Uploaded Files:</td>
	  <td style="width: 500px; color:#333; font-size:14px; text-align:right; padding:10px 8px; border-bottom: 1px solid #CCC;">
		<p style="padding:2px 0; margin:0; ">1. jkhflf.html</p>
		<p style="padding:2px 0; margin:0; ">2. steret.jpg</p>
		<p style="padding:2px 0; margin:0; ">3. hjkgj.png</p>
	  </td>
	</tr>
	<tr>
	  <td style="width: 150px; color:#000; font-size:14px; font-weight:600; padding:10px 8px; border-bottom: 1px solid #CCC;">Copy/Content:</td>
	  <td style="width: 500px; color:#333; font-size:14px; text-align:right; padding:10px 8px; border-bottom: 1px solid #CCC;">
	  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
	  </td>
	</tr>
	<tr>
	  <td style="width: 150px; color:#000; font-size:14px; font-weight:600; padding:10px 8px; border-bottom: 1px solid #CCC;">Instructions:</td>
	  <td style="width: 500px; color:#333; font-size:14px; text-align:right; padding:10px 8px; border-bottom: 1px solid #CCC;">
	 Lorem Ipsum has been the industry's standard dummy text.
	  </td>
	</tr>
  </tbody>
</table>

</body>