
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adwit lite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,400italic,700italic&amp;subset=latin,vietnamese">
		
		<base href="http://lite.adwitglobal.com/" />
        <!-- build:css css/bootstrap.css -->
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <!-- endbuild -->

        <!-- build:css css/plugins.css -->
        <link rel="stylesheet" href="assets/css/awe-icon.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        <link rel="stylesheet" href="assets/css/awemenu.css">
        <link rel="stylesheet" href="assets/css/swiper.css">
        <link rel="stylesheet" href="assets/css/easyzoom.css">
        <link rel="stylesheet" href="assets/css/nanoscroller.css">
        <!-- endbuild -->

        <!-- build:css css/styles.css -->
        <link rel="stylesheet" href="assets/css/awe-background.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/docs.css">
        <!-- endbuild -->

        <!-- build:js js/vendor.js -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="assets/js/vendor/jquery-1.11.3.min.js"></script>
        <!-- endbuild -->
		
		<!-- pagination -->
		<link rel="stylesheet" type="text/css" href="assets/css/pagination/datatables.min.css"/> 
		<script type="text/javascript" src="assets/css/pagination/datatables.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example1').DataTable( {
					"order": [[ 0, "desc" ]]
				} );
			} );
			$(document).ready(function() {
				$('#example2').DataTable( {
					"order": [[ 0, "desc" ]]
				} );
			} );

			$(document).ready(function() {
				$('#example1').DataTable();
			} );
			
			$(document).ready(function() {
				$('#example2').DataTable();
			} );
			
		</script>		
		<!-- endpagination -->
		
		<link href="assets/css/dropzone/dropzone.css" type="text/css" rel="stylesheet" />
		<script src="assets/js/dropzone/dropzone.min.js"></script>

        <script>window.SHOW_LOADING = false;</script>
		<script>
			function preventBack(){window.history.forward();}
			setTimeout("preventBack()", 0);
			window.onunload=function(){null};
		</script>
		
		<script>
		 $(document).ready(function(){
		 $("#advancesearch").hide();
	  
		 $("#showadvancesearch").click(function(){
			$("#advancesearch").toggle();  
			$("#search").toggle();  		
		  });
		 
		 $("#showsearch").click(function(){
			$("#advancesearch").toggle();  
			$("#search").toggle();  		
		  });
		  
		 });
	  </script>

    </head>
    <body>
      
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div id="main">
            
<section>
<div class="container padding-vertical-50">
     
	<div class="row margin-0">
		<p class="xlarge center margin-bottom-20">Order View</p>                       
		<div class="col-md-12 padding-0 border-theme">
			<div class="portfolio-content">
				<div class="row background-color-theme margin-0">
						<div class="col-sm-6"><h4>AD DETAILS</h4></div>
						<div class="col-sm-6 text-right" ><p class="padding-top-10"><small>2016-07-05 01:28:01</small></p></div>
				</div>
			
				<div class="col-sm-6"> 
					<ul class="portfolio-list margin-0">
						<li class="no-border-top">
							<span class="name">Job Name:</span>
							<span class="value"> demo12</span>
						</li>

						<li>
							<span class="name">Width:</span>
							<span class="value">1.2</span>
						</li>
						
						<li class="no-border-bottom">
                                <span class="name">Color:</span>
								                                <span class="value">Spot</span>
                            </li>
					</ul>
				</div>
			
				<div class="col-sm-6"> 
					<ul class="portfolio-list margin-0">
						<li class="no-border-top">
							<span class="name">Date Needed:</span>
							<span class="value">2016-07-08</span>
						</li>
						
						<li>
							<span class="name">Height:</span>
							<span class="value">2.2</span>
						</li>
					   
						<li class="no-border-bottom">
							<span class="name">Uploaded Files:</span>
							<span class="value dropdown">
								<span class="cursor-pointer" type="button" data-toggle="dropdown">View FIles
									<span class="caret"></span>
								</span>
								<div class="table-responsive dropdown-menu file_li padding-0 margin-0">  
									<table class="table table-striped table-hover" id="mytable">
										 <tbody>
											<tr>
												<td>1</td>
												<td>erhwer.html</td>
											</tr>
										 </tbody>
									</table>
								</div>	
							</span>
						</li>
					</ul>        
				</div>
								   
				<div class="col-sm-12"> 
					<div class="center border-thicktop"> 
						<h5>Copy/Content:</h5>
						<p class="lightgray">copy </p>
					</div>
				</div>
			
				<div class="col-sm-12"> 
					<div class="center border-thicktop"> 
						<h5>Instructions:</h5>
						<p class="lightgray">instruct</p>
					</div>
				</div>
			</div>                   
		</div>
	</div>
       
</div>
</section>
 


</div><!-- /#wrapper -->


   <div id="login-popup" class="white-popup login-popup mfp-hide">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#account-login" aria-controls="account-login" role="tab" data-toggle="tab">Account Login</a>
            </li>

            <li role="presentation">
                <a href="#account-register" aria-controls="account-register" role="tab" data-toggle="tab">Register</a>
            </li>
        </ul><!-- /.nav -->

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-login">
                <form action="index.html" method="POST" >
                    <div class="form-group">
                        <label for="login-account">Username</label>
                        <input type="text" class="form-control" id="login-account">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control" id="login-password" data-show-password="true">
                    </div><!-- /.form-group -->

                    <div class="forgot-passwd">
                        <a href="#" title="">
                            <i class="icon icon-key"></i>
                            <span>Forgot your password?</span>
                        </a>
                    </div><!-- /.forgot-passwd -->

                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="account-register">
                <form action="index.html" method="POST" >
                    <div class="form-group">
                        <label for="register-username">Username <sup>*</sup></label>
                        <input type="text" class="form-control" id="register-username">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-email">Email <sup>*</sup></label>
                        <input type="text" class="form-control" id="register-email">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-password">Password <sup>*</sup></label>
                        <input type="password" class="form-control" id="register-password">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-confirm-password">Confirm Password <sup>*</sup></label>
                        <input type="password" class="form-control" id="register-confirm-password">
                    </div><!-- /.form-group -->

                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                    </div><!-- /.form-button -->
                </form>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div>
</div><!-- /.login-popup -->




         

    <script src="http://lite.adwitglobal.com/assets/js/vendor/jquery-ui.min.js"></script>
    <script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>

    <!-- build:js js/plugins.js -->
    <script src="http://lite.adwitglobal.com/assets/js/plugins/bootstrap.min.js"></script>

    <script src="http://lite.adwitglobal.com/assets/js/plugins/awemenu.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/headroom.min.js"></script>

    <script src="http://lite.adwitglobal.com/assets/js/plugins/hideshowpassword.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/jquery.parallax-1.1.3.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/jquery.nanoscroller.min.js"></script>

    <script src="http://lite.adwitglobal.com/assets/js/plugins/swiper.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/easyzoom.js"></script>

    <script src="http://lite.adwitglobal.com/assets/js/plugins/masonry.pkgd.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/plugins/imagesloaded.pkgd.min.js"></script>

    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="http://lite.adwitglobal.com/assets/js/awe/awe-carousel-branch.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/awe/awe-carousel-blog.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/awe/awe-carousel-products.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/awe/awe-carousel-testimonial.js"></script>

    <script src="http://lite.adwitglobal.com/assets/js/awe-hosoren.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/main.js"></script>
    <!-- endbuild -->

    <!-- build:js js/docs.js -->
    <script src="http://lite.adwitglobal.com/assets/js/plugins/list.min.js"></script>
    <script src="http://lite.adwitglobal.com/assets/js/docs.js"></script>
    <!-- endbuild -->

    </body>
</html>
       
 