<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adwit lite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,400italic,700italic&amp;subset=latin,vietnamese">

        <!-- build:css css/bootstrap.css -->
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <!-- endbuild -->

        <!-- build:css css/plugins.css -->
        <link rel="stylesheet" href="assets/css/awe-icon.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        <link rel="stylesheet" href="assets/css/awemenu.css">
        <link rel="stylesheet" href="assets/css/swiper.css">
        <link rel="stylesheet" href="assets/css/easyzoom.css">
        <link rel="stylesheet" href="assets/css/nanoscroller.css">
        <!-- endbuild -->

        <!-- build:css css/styles.css -->
        <link rel="stylesheet" href="assets/css/awe-background.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/docs.css">
        <!-- endbuild -->
        
       <link rel="stylesheet" type="text/css" href="assets/css/pagination/datatables.min.css"/> 
		<script type="text/javascript" src="assets/css/pagination/datatables.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').DataTable();
			} );
		</script>

        <!-- build:js js/vendor.js -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
        <!-- endbuild -->
		
        <script>window.SHOW_LOADING = false;</script>
<script>
	 $(document).ready(function(){
     $("#advancesearch").hide();
  
     $("#showadvancesearch").click(function(){
        $("#advancesearch").toggle();  
        $("#search").toggle();  		
      });
	 
     $("#showsearch").click(function(){
        $("#advancesearch").toggle();  
        $("#search").toggle();  		
      });
	  
	 });	
  </script>
    </head>
    <body>
             
        <!-- // LOADING -->
        <div class="awe-page-loading">
            <div class="awe-loading-wrapper">
                <div class="awe-loading-icon">
                    <span class="icon icon-logo"></span>
                </div>
                
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!-- // END LOADING -->

<div id="wrapper" class="main-wrapper ">
    
    <header id="header" class="awe-menubar-header">
        <nav class="awemenu-nav headroom" data-responsive-width="1200">
            <div class="container">
                <div class="awemenu-container">

                    <div class="navbar-header">
                        <ul class="navbar-icons">
						
                                
                        <li class="menubar-account">
                            <a href="#" title="" class="awemenu-icon">
                                <i class="icon icon-user-circle"></i>
                                <span class="awe-hidden-text">Account</span>
                            </a>

                             <ul class="submenu dropdown">
                                <li>
                                    <a href="#login-popup" title="">Login</a>
                                </li>

                                <li>
                                    <a href="#login-popup" title="">Register</a>
                                </li>
                            </ul>
                        </li>
                     
                        <li class="menubar-cart">
                            <a href="#" title="" class="awemenu-icon menu-shopping-cart">
                                <span class="xxlarge">©</span>
                                <span class="cart-number">450</span>
                            </a>
                        </li>  
                        
                        </ul>
                    </div>

                    <div class="awe-logo">
                        <a href="index.html" title=""><img src="./assets/img/logo.jpg" alt=""></a>
                    </div><!-- /.awe-logo -->

                    <ul class="awemenu awemenu-right">
                        <li class="awemenu-item"><a href="place_order.html" title=""><span>Place Order</span></a></li>
						<li class="awemenu-item"><a href="history.html" title=""><span>History</span></a></li>
                        <li class="awemenu-item"><a href="credits.html" title=""><span>Buy Credits</span></a></li>
                        <li class="awemenu-item"><a href="index.html" title=""><span>Help</span></a></li>                       
                    </ul><!-- /.awemenu -->
                </div>
            </div><!-- /.container -->

        </nav><!-- /.awe-menubar -->
    </header><!-- /.awe-menubar-header -->
                     
        

<section>
      <div class="container margin-top-30">   
	  <form>
	   <div class="row margin-0 border ">  		 
		  <div class="col-md-6 col-sm-12 col-xs-12 padding-15 padding-left-0">  
             <p class="center margin-top-25 large"> No new notifications</p>		  
			 <div class="row margin-0 background-color-lightred border-red hide">
	            <div class="col-md-11 col-sm-11 col-xs-11 background-color-lightred "> 
		            <p class="padding-top-10">Question Received for 125636</p>
		        </div> 	
                 <div class="col-md-1 col-sm-1 col-xs-1 center background-color-red padding-0"> 
		            <p class=" padding-top-10 text-white"><a href="#"><i class="glyphicon glyphicon-check"></i></a></p>					
		        </div> 					
	        </div>	 
	     </div> 		  
 
			<div class="col-md-6 col-sm-12 col-xs-12 padding-15 padding-right-0  border-left">
				<div id="search">
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-8 padding-right-0">
					  <input type="text" class="form-control height-38 text-theme" title="" placeholder="Search order ID, Name or Advertiser Name">
					</div>
					 <div class="col-md-4 col-sm-4 col-xs-4 padding-left-0">
					  <button type="button" class="btn btn-primary  btn-lg btn-block margin-right-15 "><span>Search</span> </button>
					</div>
				 </div>	
				  <p class="text-right margin-top-5">
					<a class="text-theme" id="showadvancesearch">advanced search</a>
				  </p>
				</div>
				 
				 <div class="row margin-0" id="advancesearch">
					<div class="col-md-12 col-sm-12 col-xs-12 background-color-theme padding-bottom-15">
					  <p class="padding-top-10 margin-bottom-5">Search Keywords</p>
					  <input type="text" class="form-control height-38" title="">
					   <div class="row">
						  <div class="col-md-6 col-sm-6 col-xs-12 background-color-theme">
							<p class="padding-top-10 margin-bottom-5">From</p>
							<input type="text" class="form-control height-38" title="">
						  </div>
						  <div class="col-md-6 col-sm-6 col-xs-12 background-color-theme">
							<p class="padding-top-10 margin-bottom-5">To</p>
							<input type="text" class="form-control height-38" title="">
						  </div>	
					   </div>
					   <div class="row">
						  <div class="col-md-6 col-sm-6 col-xs-12 background-color-theme">
							<p class="padding-top-10 margin-bottom-5">Select Subject</p>
							<input type="text" class="form-control height-38" title="">
						  </div>
						  <div class="col-md-6 col-sm-6 col-xs-12 background-color-theme">
							<p class="padding-top-10 margin-bottom-5">Select Ad Type</p>
							<input type="text" class="form-control height-38" title="">
						  </div>	
					   </div>	
					   <div class="row">
						  <div class="col-md-6 col-sm-6 col-xs-12 background-color-theme">
							<p class="padding-top-10 margin-bottom-5">Select Status</p>
							<input type="text" class="form-control height-38" title="">
						  </div>
						  <div class="col-md-6 col-sm-6 col-xs-12 background-color-theme">
							<button type="button" class="btn btn-dark btn-outline btn-lg margin-top-35 ">  <span>SUBMIT</span> </button>
							<span class="float-right margin-top-55 text-white"><a class="text-theme" id="showsearch">« back</a></span>
						  </div>	
					   </div>					   
					</div>
				 </div>			 
			</div>
		</div>		 
	  </form> 
	  </div>	  
</section>

		
<section>
    <div class="container margin-top-30">
            <div class="row">
				<div class="col-xs-6">
					<div class="margin-bottom-20">
						<button class="form-control btn  btn-info  btn-outline">
							<span>Place now &amp; get your ad in 24Hours!!</span>
						</button>
					</div>
				</div>
		
				<div class="col-xs-6">
					<a href="http://lite.adwitglobal.com/index.php/customer/home/mycredits"> 
						<button type="button" class="form-control btn  btn-info  ">
							<span>Current Credit balance - 283 Credits </span>
						</button> 
					</a>
				</div>
			</div>
		<div class="divider horizontal"><i class="fa fa-heart"></i></div>
	</div><!-- /.container -->
</section><!-- /section -->

<section>
	<div class="container center">                        
		<p class="xlarge">Place New Order</p>  
	</div><!-- /.container -->
</section><!-- /section -->
	
<section>
    <div class="container margin-vertical-20">   
	  <form>
	   <div class="row">
	     <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom-10">
		   <p class="large margin-bottom-5">Unique Job Name/Number <span class="text-red">*</span> <small class="text-grey">(only alphanuemeric characters allowed)</small></p>
				<input type="text" class="form-control margin-bottom-20" title="">
		 
		  <p class="large margin-bottom-5">Width & Height <span class="text-red">*</span> <small class="text-grey">(in inches)</small></p>
	        <div class="row">
	           <div class="col-md-6 col-sm-6 col-xs-6"> <input type="text" class="form-control" title="width"></div>
			   <div class="col-md-6 col-sm-6 col-xs-6 margin-bottom-15"> <input type="text" class="form-control" title="height"></div>
			</div> 
			
		  <p class="large margin-bottom-5">Full Color/B&W/Spot<span class="text-red"> *</span></p>
			<div class="row margin-bottom-20">
				<div class="col-sm-9">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default margin-right-5">
							<input type="radio" value="color" /> Full Color
						</label> 
						<label class="btn btn-default margin-right-5">
							<input type="radio" value="bw" /> B&W
						</label> 
						<label class="btn btn-default margin-right-5 active">
							<input type="radio" value="spot" checked /> Spot
						</label>  
					</div>
				</div>
			  </div>
		   
		   <p class="large margin-bottom-5">Date Needed<span class="text-red"> *</span> 
				<small class="text-grey">(<span id="demo">Date</span>)</small></p>
					<div class="row">
					<div class="col-sm-12">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default margin-right-5">
								<input type="radio" value="1d" /> 1 Day
							</label> 
							<label class="btn btn-default margin-right-5">
								<input type="radio" value="2d" /> 2 Days
							</label> 
							<label class="btn btn-default margin-right-5">
								<input type="radio" value="3d" /> 3 Days
							</label> 
							<label class="btn btn-default margin-right-5">
								<input type="radio" value="4d" /> 4 Days
							</label> 
							<label class="btn btn-default margin-right-5 active">
								<input type="radio" value="5d" /> 5 Days
							</label> 			
							<label class="btn btn-default margin-right-5">
								<input type="radio" value="6d" /> 6 Days
							</label> 
							<label class="btn btn-default margin-right-5">
								<input type="radio" value="7d" /> 7 Days
							</label> 
						</div>
					</div>
				   </div>	   
		 </div>
		 
		  <div class="col-md-6 col-sm-6 col-xs-12">
		     <p class="large margin-bottom-5">Copy/Content</p>
		     <textarea rows="5" class="form-control margin-bottom-25"></textarea>

		     <p class="large margin-bottom-5">Note & Instruction</p>
		     <textarea rows="5" class="form-control"></textarea>
		  </div>
	
	   </div> 
	   



	   
	   
	    <script type="text/javascript">
			var dt = new Date();
			var month = dt.getMonth()+1;
			var day = dt.getDate();
			var year = dt.getFullYear();
			document.getElementById("").innerHTML=(day + '-' + month + '-' + year);
		</script>
	 
	 
		<script type="text/javascript">	 
			function dayDiff(startdate, enddate) {
			var dayCount = 0;

			while(enddate >= startdate) {
				dayCount++;
				startdate.setDate(startdate.getDate() + 1);
			}
			return dayCount; 
			}
		</script>
		
		
	   <script>
		   var myDate = new Date;
		   var dayOfMonth = myDate.getDate();
		   myDate.setDate(dayOfMonth + 5);
		   document.getElementById("demo").innerHTML=(myDate);
       </script>
		  
	    <div class="row text-right margin-top-10">
	        <button type="button" class="btn btn-primary btn-lg margin-right-15 ">  <span>Submit</span> </button>
	    </div>

	 </form> 
	  </div>
 </section>




  
<footer class="footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="copyright">
                <p>Copyright &copy; 2016 Adwit Global - All Rights Reserved.</p>
            </div>

            <div class="footer-nav">
                <nav>
					<ul>
						<li><a href="#" title="">Contact Us</a></li>
						<li><a href="#" title="">Term of Use</a></li>
						<li><a href="#" title="">Privacy Policy</a></li>
						<li><a href="#" title="">Site Map</a></li>
					</ul>
                </nav>

				<nav>
					<ul>
						<li class="dropdown dropup">
							<div class="language-select">
								<span class="select-title">Language:</span>

								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span>ENG</span>
									<span class="icon icon-arrow-down"></span>
								</a>

								<ul class="dropdown-menu" role="menu">
									<li><a href="#">English</a></li>
									<li><a href="#">Vietnamese</a></li>
								</ul>
							</div>
						</li>

						<li class="dropdown dropup">
							<div class="price-select">
								<span class="select-title">Price:</span>

								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span>USD</span>
									<span class="icon icon-arrow-down"></span>
								</a>

								<ul class="dropdown-menu" role="menu">
									<li><a href="#">USD</a></li>
									<li><a href="#">VND</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
            </div>
        </div>
    </div><!-- /.footer-copyright -->
</footer><!-- /footer -->

</div><!-- /#wrapper -->


   <div id="login-popup" class="white-popup login-popup mfp-hide">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#account-login" aria-controls="account-login" role="tab" data-toggle="tab">Account Login</a>
            </li>

            <li role="presentation">
                <a href="#account-register" aria-controls="account-register" role="tab" data-toggle="tab">Register</a>
            </li>
        </ul><!-- /.nav -->

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-login">
                <form action="index.html" method="POST" >
                    <div class="form-group">
                        <label for="login-account">Account</label>
                        <input type="text" class="form-control" id="login-account">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control" id="login-password" data-show-password="true">
                    </div><!-- /.form-group -->

                    <div class="forgot-passwd">
                        <a href="#" title="">
                            <i class="icon icon-key"></i>
                            <span>Forgot your password?</span>
                        </a>
                    </div><!-- /.forgot-passwd -->

                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="account-register">
                <form action="index.html" method="POST" >
                    <div class="form-group">
                        <label for="register-username">Username <sup>*</sup></label>
                        <input type="text" class="form-control" id="register-username">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-email">Email <sup>*</sup></label>
                        <input type="text" class="form-control" id="register-email">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-password">Password <sup>*</sup></label>
                        <input type="password" class="form-control" id="register-password">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-confirm-password">Confirm Password <sup>*</sup></label>
                        <input type="password" class="form-control" id="register-confirm-password">
                    </div><!-- /.form-group -->

                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                    </div><!-- /.form-button -->
                </form>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div>
</div><!-- /.login-popup -->

<script>
    $(function() {
        $('a[href="#login-popup"]').magnificPopup({
            type:'inline',
            midClick: false,
            closeOnBgClick: false
        });
    });
</script>


    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <script src="assets/js/vendor/jquery-ui.min.js"></script>
    <script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>

    <!-- build:js js/plugins.js -->
    <script src="assets/js/plugins/bootstrap.min.js"></script>

    <script src="assets/js/plugins/awemenu.min.js"></script>
    <script src="assets/js/plugins/headroom.min.js"></script>

    <script src="assets/js/plugins/hideshowpassword.min.js"></script>
    <script src="assets/js/plugins/jquery.parallax-1.1.3.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.nanoscroller.min.js"></script>

    <script src="assets/js/plugins/swiper.min.js"></script>
    <script src="assets/js/plugins/owl.carousel.min.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/easyzoom.js"></script>

    <script src="assets/js/plugins/masonry.pkgd.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>

    <script src="assets/js/plugins/gmaps.min.js"></script>
    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="assets/js/awe/awe-carousel-branch.js"></script>
    <script src="assets/js/awe/awe-carousel-blog.js"></script>
    <script src="assets/js/awe/awe-carousel-products.js"></script>
    <script src="assets/js/awe/awe-carousel-testimonial.js"></script>

    <script src="assets/js/awe-hosoren.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- endbuild -->

    <!-- build:js js/docs.js -->
    <script src="assets/js/plugins/list.min.js"></script>
    <script src="assets/js/docs.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>
    </body>
</html>
